<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Information</title>
</head>
<body>


    <h1>Welcome Admin</h1>
    <span id="id_user" hidden><%= id %></span>
    <div id="AdminDisplay">

        <ul>

        </ul>
    </div>
    <form>
        
    </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
<script src="./admin.js"></script>
</body>
</html>
